<!DOCTYPE html>
<div class=content>
<p>Hello, this is my first website !</p>

<a href="https://app.netlify.com/sites/{{site.netname}}/deploys"><img src="https://api.netlify.com/api/v1/badges/{{site.apiid}}/deploy-status" alt="status for {{site.name}}"></a>
<p>
+Kin</p>
</div>
