<!DOCTYPE html><head>
<meta charset="utf-8"/>
<title>{{page.title}} | {{site.title}}</title>
{% if jekyll.environment == 'production' %}
<script src="https://cdn.jsdelivr.net/gh/iglake/js@1.7/dist/favicon.js"></script>
<link href="https://cdn.jsdelivr.net/gh/iglake/cssjs@{{site.cssversion}}/css/style.css" rel="stylesheet" type="text/css"/>
{% else %}
<script src="http://127.0.0.1:8088/GITrepo/iglake/cssjs/js/src/favicon.js"></script>
<link href="https://cdn.jsdelivr.net/gh/iglake/cssjs@{{page.cssversion}}/css/style.css" rel="stylesheet" type="text/css"/>
{% endif %}
<link href="styles/main.css" rel="stylesheet" type="text/css"/>
<link href="styles/vim.css" rel="stylesheet" type="text/css"/>
</head><body>
<input name="author" value="{{site.author}}" type="hidden"/>
<script>
const author=document.getElementsByTagName('input')[0].value
console.log('author: ',author)
</script>
<div class="first content">
<h2>{{page.title}} </h2>
{{site.name}} : {{page.description}}
</div>

<div class="content shadow">
{{content}}
</div>
<div class="footer badges">
<a href=https://app.netlify.com/sites/{{site.name}}/deploys>
<img src="https://api.netlify.com/api/v1/badges/{{site.apiid}}/deploy-status" alt="{{site.name}} netlify">
</a>
</div>
</body>
<script src=https://cdn.jsdelivr.net/gh/iglake/js@master/dist/config.js ></script>
{% if jekyll.environment == 'production' %}
<script> CFG.File('/sites/%domain%/config.json', callback('body')) </script>
{% else %}
<script> CFG.File('http://localhost:8088/michelc/github.com/P2PCI-project/holoSites/_site/sites/%domain%/config.json', callback('body')) </script>
{% endif %}

