---
---
img { max-width: 100% }

body {
  background-image: URL(https://cdn.statically.io/img/ipfs.blockringtm.ml{{site.bgimg}});
}
div.content {
  background-image: linear-gradient(to bottom right, white,lightgrey);
  opacity: 0.98;
}
.highlight pre { padding: 0 2em 0 1em; background-color: darkgrey;}
